{% extends "base.html" %}

{% block content %}
<body style="overflow-x: hidden;">
    <div class="row">
        <div class="col-5 map-left">
            <div class="container full-search-container">

            <div class="top-search-bar">
                <h1 class="search-page-title">Find Literacy Programs</h1>

                <button type="button" class="collapsible filter-open-button">Change Search <i class="fas fa-plus-square plus-icon"></i></button>

                <div class="filter-content">

                    <form action="" method="post" novalidate>
                        <dl>
                        {{ form.search_name }}<br>
                        </p>
                        </dl>
                        <dl>
                        {{ form.select_age }}<br>
                        </p>
                        </dl>
                        <dl>
                        {{ form.select_type }}<br>
                        </p>
                        </dl>
                        <dl>
                        {{ form.neighborhoods }}<br>
                        </p>
                        <dl>
                        {{ form.zipcodes }}<br>
                        </p>
                        <p> open for public school enrollment? </p>
                        </dl>
                        <p>{{ form.open_for_public_school_enrollment }} </p>

                        <p> {{ form.submit }} </p>
                    </form>

                </div>

            </div>

                <div class="seach-results-col">
                    {% for program in programs %}
                    <div class="program">
                    	<h1> {{ program.name }} </h1> 
                    	<h3> {{ program.descripiton }} </h3>
                    	<h3> {{ program.phone }} </h3>
                        <h3> {{ program.last_updated }} </h3>

                        <h2> Presenting Organization </h2>
                            <h3> {{ program.organizations.name }} </h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-7 map-right">
            <div class="map-container">
                <div id="program_map"></div>
            </div>
        </div>

    </div>

</body>

    <script type="text/javascript" src="{{ url_for('static', filename = 'program_map.js') }}"></script>

{% endblock %}