{% extends "base.html" %}

{% block content %}
    <h1>All Programs</h1>

    <div id="program_map"></div>

    <h3>Filter</h3>
    <form action="" method="post" novalidate>
        <dl>
            {{ form.search_name }}<br>
        </p>
        </dl>
        <dl>
            {{ form.select_age }}<br>
        </p>
        </dl>
         <dl>
            {{ form.select_type }}<br>
        </p>
        </dl>
         <dl>
            {{ form.neighborhoods }}<br>
        </p>
        <p> open for public school enrollment? </p>
        </dl>
        <p>{{ form.open_for_public_school_enrollment }} </p>

        <p> {{ form.submit }} </p>
    </form>

    {% for program in programs %}
    <div class="program">
    	<h1> Programs </h1> 
    	<h2> {{ program.name }} </h2>
    	<h3> {{ program.descripiton }} </h3>
        <h3> {{ program.volunteers_needed }} </h3>
    	<h3> {{ program.website }} </h3>
    	<h3> {{ program.phone }} </h3>
        <h3> {{ program.last_updated }} </h3>

        <h2> Presenting Organization </h2>
            <h3> {{ program.organizations.name }} </h3>
            <h3> {{ program.organizations.address }} </h3>

        <h2> City Region Offered </h2>
            {% for region in program.regions %}
                <h3> {{region.name }} </h3>

                <!-- {% for neighborhood in region.neighborhoods %}

                 <h3>{{neighborhood.name}}</h3>
                  <h3>{{neighborhood.SHAPE}}</h3>

                {% endfor %} -->

            {% endfor %}
        <h2> Other information </h2>
            {% for type in program.program_type %}
                <h3> Type: </h3>
                <h3>{{type.name}}</h3>
            {% endfor %}

            <h3>Open Pub Enrollment?</h3>
            <h3>{{program.open_public_school_enrollement}}</h3>

            {% for age in program.age_groups %}
                <h3> Ages: </h3>
                <h3>{{age.name}}</h3>
            {% endfor %}
    </div>
    {% endfor %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'program_map.js') }}"></script>

{% endblock %}