{% extends "base.html" %}

{% block content %}
    <h1>All Programs & Organizations</h1>

	<h3>Filter</h3>
    <form action="" method="post" novalidate>
        <dl>
            {{ form.select }}<br>
        </p>
        </dl>
        <p>{{ form.submit }} </p>
    </form>

    {% if organization %}
    <div>
    	<h1> Organizations </h1> 
    	<h2> {{ organization.name }} </h2>
    	<h3> {{ organization.descripiton }} </h3>
    	<h3> {{ organization.website }} </h3>
    	<h3> {{ organization.phone }} </h3>
    </div>
    {% endif %}

    {% if program %}
    <div>
	    <h1> Programs </h1>
	    <h2> {{ program.name }} </h2>
	    <h3> {{ program.presenting_organization }} </h3>
	    <h3> {{ program.website }} </h3>
	    <h3> {{ program.description }} </h3>
	    <h3> {{ program.type }} </h3>
	    <h3> {{ program.program_ages }} </h3>
	    <h3> {{ program.neighborhoods }} </h3>
	</div>
	{% endif %}

{% endblock %}