{% extends "base.html" %} 

{% block content %}
    <h1>All Organizations</h1>

    <div id="organization_map"></div>

    <h3>Filter</h3>
    <form action="" method="post" novalidate>
        <dl>
            {{ form.search_name }}<br>
        </p>
        <dl>
            {{ form.select_age }}<br>
        </p>
        </dl>
         <dl>
            {{ form.select_type }}<br>
        </p>
        <dl>
            {{ form.neighborhoods }}<br>
        </p>
        </dl>
        <p>{{ form.submit }} </p>
    </form>

    {% for organization in organizations %}
    <div>
    	<h1> Organizations </h1> 
    	<h2> {{ organization.name }} </h2>
    	<h3> {{ organization.descripiton }} </h3>
    	<h3> {{ organization.website }} </h3>
    	<h3> {{ organization.phone }} </h3>
        <h3> {{ organization.last_updated }} </h3>

        {% for program in organization.programs %}
            <h2> Programs ran by {{ organization.name }}</h2>
            <h3>{{program.name}}</h3>

            {% for type in program.program_type %}
                <h3> Type: </h3>
                <h3>{{type.name}}</h3>
            {% endfor %}

            {% for age in program.age_groups %}
                <h3> Ages: </h3>
                <h3>{{age.name}}</h3>
            {% endfor %}

        {% endfor %}
    </div>
    {% endfor %}

    <div id="all_orgs" class="all_orgs" style="visibility: hidden">
        {% for organization in organizations %}
            {{ organization.id }},
        {% endfor %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename = 'organization_map.js') }}"></script>

{% endblock %}